@using UI.Models
@model BookCardVM
<div class="col">
  <div class="card">
    <img src="@Url.Content(!String.IsNullOrEmpty(Model.Book.ImagePath) ? Model.Book.ImagePath: "~/Content/DefaultItem.jpg")"
         alt="@Model.Book.Title book"
         class="card-img-top align-self-center"
         style="width: 150px; z-index: 1">
    <div class="card-body">
      <h5 class="card-title" style="height: 3rem">@Model.Book.Title</h5>
      <hr />

      <p><span class="fw-bold">Autor: </span>@Model.Author</p>

      <p><span class="fw-bold">Cijena: </span> @Model.Book.PurchasePrice kn</p>

      <a href="@Url.Action(actionName: "Details", controllerName: "Book", routeValues: new { id = Model.Book.ID })" class="stretched-link"></a>
    </div>
  </div>
</div>