@using UI.Models
@model FullBookInfoVM
<div class="col">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title" style="height: 3rem;">@Html.DisplayFor(model => model.Book.Title)</h5>
      <hr />
      <p>
        <span class="fw-bold">Stanje: </span>
        @if (Model.Book.IsNew) {
          <span>Novo</span>
        }
        else {
          <span>Rabljeno</span>
        }
      </p>

      <p><span class="fw-bold">Izdavač: </span>@Html.DisplayFor(model => model.Publisher.Name)</p>

      <p> <span class="fw-bold">Broj stranica: </span> @Html.DisplayFor(model => model.Book.PageCount)</p>

      <p><span class="fw-bold">Cijena za kupovinu: </span> @Html.DisplayFor(model => model.Book.PurchasePrice) kn</p>

      <p><span class="fw-bold">Cijena za posudbu: </span> @Html.DisplayFor(model => model.Book.LoanPrice) kn</p>

      <p><span class="fw-bold">Količina: </span> @Html.DisplayFor(model => model.Book.Quantity) kom</p>

      <a href="@Url.Action(actionName: "Details", controllerName: "Book", routeValues: new { id = Model.Book.ID })" class="stretched-link"></a>
    </div>
  </div>
</div>