<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @RenderSection("styles", required: false)

</head>
<body>
  <header>
    <div class="px-5 py-2 bg-dark text-white">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-5 text-white text-decoration-none">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="~/Content/bootstrap-icons.svg#book" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 me-lg-auto justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="~/Content/bootstrap-icons.svg#house" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="~/Content/bootstrap-icons.svg#search" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="~/Content/bootstrap-icons.svg#envelope" />
              </svg>
            </a>
          </li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-light">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  <div>
    @RenderBody()
  </div>

  <!-- FOOTER BEGIN -->
  <footer class="px-5 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>

    <p class="col-md-4 mb-0 d-flex justify-content-center text-muted me-auto">&copy; 2022 Bookstore</p>

    <ul class="nav col-md-4 d-flex justify-content-end">
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="~/Content/bootstrap-icons.svg#facebook" />
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="~/Content/bootstrap-icons.svg#instagram" />
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="~/Content/bootstrap-icons.svg#twitter" />
          </svg>
        </a>
      </li>
    </ul>
  </footer>
  <!-- FOOTER END -->


  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
