@using UI.Models
@using BLL.Projection
@model LoanVM
@{
  UserProjection user = Session["user"] as UserProjection;
  Int32 daysLeft = (Model.Loan.PlannedReturnDate - Model.Loan.LoanDate).Days;

  String borderClass = "";
  if (Model.Loan.ReturnDate == DateTime.MinValue) {
    if (daysLeft <= 0) {
      borderClass = "border-danger";
    }
    else if (daysLeft <= 3) {
      borderClass = "border-warning";
    }
    else {
      borderClass = "border-success";
    }
  }
}

<div class="col">
  <div class="card @borderClass">

    <div class="card-body">
      <h5 class="card-title">@Model.Book.Title</h5>
      <hr />

      @if (!(user is null) && user.IsAdmin) {
        <p>
          <span class="fw-bold">Posudio/la:</span>
          <span>@Model.User.FName</span>
          <span>@Model.User.LName</span>
        </p>
      }

      <p>
        <span class="fw-bold">Cijena posudbe:</span>
        <span>@Model.Loan.LoanPrice</span> kn
      </p>

      <p>
        <span class="fw-bold">Datum posudbe:</span>
        <span>@Model.Loan.LoanDate.ToLongDateString()</span>
      </p>

      <p>
        <span class="fw-bold">Planirani datum vraćanja:</span>
        <span>@Model.Loan.PlannedReturnDate.ToLongDateString()</span>
      </p>

      @if (Model.Loan.ReturnDate == DateTime.MinValue) {
      <p>
        <span class="fw-bold">Preostalo dana:</span>
        @if (daysLeft <= 0) {
          <span class="text-danger">Istekao rok posudbe</span>
        }
        else {
          <span>@daysLeft</span>
        }
      </p>
      }

      <p>
        <span class="fw-bold">Stvarni datum vraćanja:</span>
        <span>@(Model.Loan.ReturnDate == DateTime.MinValue ? "Nije vraćeno" : Model.Loan.ReturnDate.ToLongDateString())</span>
      </p>

      <p>
        <span class="fw-bold">Zakasnina:</span>
        <span>@(Model.Loan.DelayPricePerDay * Model.Loan.DelayDays) kn</span>
      </p>

      <a href="@Url.Action(actionName: "Details", controllerName: "Loan", routeValues: new { id = Model.Loan.ID })" class="stretched-link"></a>
    </div>
  </div>
</div>