@using UI.Models
@model LoanVM
<div class="col">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title" style="height: 3rem;">@Model.Book.Title</h5>
      <hr />

      <p>
        <span class="fw-bold">Posudio/la:</span>
        <span>@Model.User.FName</span>
        <span>@Model.User.LName</span>
      </p>

      <p>
        <span class="fw-bold">Cijena posudbe:</span>
        <span>@Model.Loan.LoanPrice</span> kn
      </p>

      <p>
        <span class="fw-bold">Datum posudbe:</span>
        <span>@Model.Loan.LoanDate.ToLongDateString()</span>
      </p>

      <p>
        <span class="fw-bold">Planirani datum vraćanja:</span>
        <span>@Model.Loan.PlannedReturnDate.ToLongDateString()</span>
      </p>

      <p>
        <span class="fw-bold">Stvarni datum vraćanja:</span>
        <span>@(Model.Loan.ReturnDate == DateTime.MinValue ? "Nije vraćeno" : Model.Loan.ReturnDate.ToLongDateString())</span>
      </p>

      <p>
        <span class="fw-bold">Zakasnina:</span>
        <span>@(Model.Loan.DelayPricePerDay * Model.Loan.DelayDays) kn</span>
      </p>

      <a href="@Url.Action(actionName: "Details", controllerName: "Loan", routeValues: new { id = Model.Loan.ID })" class="stretched-link"></a>
    </div>
  </div>
</div>