@using UI.Models
@using BLL.Projection
@model LoanVM

@{
  ViewBag.Title = "Detalji posudbe";
  UserProjection user = Session["user"] as UserProjection;
}

<h2>Detalji posudbe</h2>

<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Knjiga:</span>
  </div>
  <div class="col-9">
    @Html.ActionLink(linkText: Model.Book.Title,
                     actionName: "Details",
                     controllerName: "Book",
                     routeValues: new { id = Model.Book.ID },
                     htmlAttributes: new {
                       @class = "link-text"
                     })
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Posudio/la:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5"> @Model.User.FName @Model.User.LName</span>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Email:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5"> @Model.User.Email</span>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Cijena posudbe:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5">@Model.Loan.LoanDate.ToLongDateString()</span>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Planirani datum vraćanja:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5">@Model.Loan.PlannedReturnDate.ToLongDateString()</span>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Stvarni datum vraćanja:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5">@(Model.Loan.ReturnDate == DateTime.MinValue ? "Nije vraćeno" : Model.Loan.ReturnDate.ToLongDateString())</span>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <span class="text-black fw-bold fs-5">Zakasnina:</span>
  </div>
  <div class="col-9">
    <span class="text-black fs-5">@(Model.Loan.DelayPricePerDay * Model.Loan.DelayDays) kn</span>
  </div>
</div>

@Html.ActionLink(linkText: "Natrag",
                   actionName: "Index",
                   controllerName: "Dashboard",
                   routeValues: null,
                   htmlAttributes: new {
                     @class = "btn btn-outline-secondary me-3"
                   })

@if (!(user is null) && user.IsAdmin && Model.Loan.ReturnDate == DateTime.MinValue) {
  @Html.ActionLink(linkText: "Vrati knjigu",
                   actionName: "Return",
                   controllerName: "Loan",
                   routeValues: new { id = Model.Loan.ID },
                   htmlAttributes: new {
                     @class = "btn btn-primary"
                   })
}