@using UI.Models
@using BLL.Projection
@model PurchaseVM

@{
  ViewBag.Title = "Detalji kupnje";
  UserProjection user = Session["user"] as UserProjection;
}

<div class="row">
  <div class="offset-2 col-8">
    <h2 class="h2 text-center">Detalji kupnje</h2>
    <hr class="mb-5" />

    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Knjiga:</span>
      </div>
      <div class="col-8">
        @if (Model.Book.IsAvailable) {
          @Html.ActionLink(linkText: Model.Book.Title,
                           actionName: "Details",
                           controllerName: "Book",
                           routeValues: new { id = Model.Book.ID },
                           htmlAttributes: new {
                             @class = "link-text fs-5"
                           })
        }
        else {
          <span class="text-black fs-5">@Model.Book.Title</span>
        }
      </div>
    </div>
    @if (!(user is null) && user.IsAdmin) {
      <div class="row mb-3">
        <div class="col-4">
          <span class="text-black fw-bold fs-5">Kupio/la:</span>
        </div>
        <div class="col-8">
          <span class="text-black fs-5"> @Model.User.FName @Model.User.LName</span>
        </div>
      </div>
    }
    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Email:</span>
      </div>
      <div class="col-8">
        <span class="text-black fs-5"> @Model.User.Email</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Cijena komada:</span>
      </div>
      <div class="col-8">
        <span class="text-black fs-5">@Model.Purchase.UnitPrice kn</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Količina:</span>
      </div>
      <div class="col-8">
        <span class="text-black fs-5">@Model.Purchase.Quantity</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Ukupna cijena:</span>
      </div>
      <div class="col-8">
        <span class="text-black fs-5">@(Model.Purchase.Quantity * Model.Purchase.UnitPrice) kn</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <span class="text-black fw-bold fs-5">Datum kupnje:</span>
      </div>
      <div class="col-8">
        <span class="text-black fs-5">@Model.Purchase.PurchaseDate.ToLongDateString()</span>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
      @Html.ActionLink(linkText: "Natrag",
                         actionName: "Index",
                         controllerName: "Dashboard",
                         routeValues: null,
                         htmlAttributes: new {
                           @class = "btn btn-outline-secondary me-3"
                         })
    </div>

  </div>
</div>