@using UI.Models
@model UserEditVM

<div class="row">
    <div class="col-6 offset-3">
        @{
            ViewBag.Title = "Uredi profil";
        }

        <h2>Uredi profil</h2>
        <hr />

        @using (Html.BeginForm(actionName: "Edit",
                               controllerName: "User",
                               method: FormMethod.Post,
                               htmlAttributes: new
                               {
                                   enctype = "multipart/form-data"
                               }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(expression: model => model.ID)
            @Html.HiddenFor(expression: model => model.ImagePath)

            <div class="mb-3">
                @Html.LabelFor(expression: model => model.FName, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(expression: model => model.FName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.FName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(expression: model => model.LName, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(expression: model => model.LName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.LName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <img src="@Url.Content(!String.IsNullOrEmpty(Model.ImagePath) ? Model.ImagePath : "~/Content/DefaultUser.jpg")"
                     alt="@Model.FName @Model.LName profile picture"
                     class="img-fluid img-thumbnail mb-2"
                     style="width: 150px; z-index: 1">

                @Html.TextBoxFor(expression: model => model.Image, htmlAttributes: new { @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(expression: model => model.Image, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(expression: model => model.Address, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(expression: model => model.Address, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="text-lg-end">
                @Html.ActionLink(linkText: "Odustani",
                                 actionName: "Index",
                                 controllerName: "User",
                                 routeValues: null,
                                 htmlAttributes: new { @class = "btn btn-outline-secondary me-3" })
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
                }
           </div>
        </div>
