@using BLL.Projection
@model UserProjection

@{
  ViewBag.Title = "Profil";
}

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row bg-dark">
            <div class="ms-4 mt-5 d-flex align-items-end" style="width: 150px;">
              <img src="@Url.Content(!String.IsNullOrEmpty(Model.ImagePath) ? Model.ImagePath : "~/Content/DefaultUser.jpg")"
                   alt="@Model.FName @Model.LName profile picture"
                   class="img-fluid img-thumbnail mb-2"
                   style="width: 150px; z-index: 1">
            </div>
            <div class="ms-3 mt-5">
              <h5>@Model.FName @Model.LName</h5>
              <p class="mb-1">@Model.Email</p>
              <p>@Model.Email</p>
            </div>
          </div>
          <div class="p-4 text-black d-flex justify-content-between" style="background-color: #f8f9fa;">
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-outline-dark me-3" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                Edit profile
              </button>
              <button type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                Delete profile
              </button>
            </div>
            <div class="d-flex justify-content-end text-center py-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>