@using BLL.Projection
@using UI.Models
@model  IEnumerable<LoanBookVM>
@{
  var user = Session["user"] as UserProjection;
}

<!DOCTYPE html>
<html>
<body>

  <div>
    <input type="button" class="btn btn-primary" value="Povijest prodaje" onclick="@("window.location.href='" + @Url.Action(actionName:"SalesHistory",controllerName:"Dashboard")+"'" );" />
    <input type="button" class="btn btn-primary" value="Korisničke poruke" onclick="@("window.location.href='" + @Url.Action(actionName:"UserMessages",controllerName:"Dashboard")+"'" );" />
    <input type="button" class="btn btn-primary" value="Promijeni podatke o poslovnici" onclick="@("window.location.href='" + @Url.Action(actionName:"EditBranchOfficeDetails",controllerName:"Dashboard")+"'" );" />
    <input type="button" class="btn btn-primary" value="Dodaj autora" onclick="@("window.location.href='" + @Url.Action(actionName:"Create",controllerName:"Author")+"'" );" />
    <input type="button" class="btn btn-primary" value="Dodaj knjigu" onclick="@("window.location.href='" + @Url.Action(actionName:"AddBook",controllerName:"Dashboard")+"'" );" />
    <input type="button" class="btn btn-primary" value="Dodaj djelatnika" onclick="@("window.location.href='" + @Url.Action(actionName:"AddEmployee",controllerName:"Dashboard")+"'" );" />
  </div>

  @* Implement paging if needed *@
  <div class="album py-5">
    <h3>Lista svih posudbi</h3>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        @foreach (var loan in Model)
        {
          @Html.Partial(partialViewName: "_LoanCard", model: loan)
        }

      </div>
    </div>
  </div>


</body>
</html>