@using UI.Models
@model EditBranchOfficeDetailsVM

@{
  ViewBag.Title = "Promjena podataka o poslovnici";
}

<h2>Promijeni podatke o poslovnici</h2>
<hr />

@using (Html.BeginForm(actionName: "EditBranchOfficeDetails",
                       controllerName: "Dashboard",
                       method: FormMethod.Post,
                       htmlAttributes: new
                       {
                         enctype = "multipart/form-data"
                       }))
{
  @Html.AntiForgeryToken()

  <div class="mb-3">
    @Html.LabelFor(expression: model => model.Email, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(expression: model => model.Email, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(expression: model => model.Email, "", new { @class = "text-danger" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(expression: model => model.Telephone, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(expression: model => model.Telephone, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(expression: model => model.Telephone, "", new { @class = "text-danger" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(expression: model => model.Address, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(expression: model => model.Address, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(expression: model => model.Address, "", new { @class = "text-danger" })
  </div>

  <input type="submit" value="Spremi" class="btn btn-primary me-3" />
  <input type="button" class="btn btn-secondary" value="Odustani" onclick="@("window.location.href='" + @Url.Action(actionName:"Index",controllerName:"Dashboard")+"'" );" />
}
