@using BLL.Projection
@using UI.Models
@model IEnumerable<MessageProjection>
@{
  ViewBag.Title = "Korisničke poruke";
}

<h2>Korisničke poruke</h2>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var message in Model)
      {

        <div class="col">
          <div class="card">

            <div class="card-body">

              <div>
                <span class="card-title fw-bold" style="height: 3rem; font-size:20px">Pošiljatelj:</span><span style="font-size:20px"> @message.SenderFName @message.SenderLName</span>
              </div>
              <div>
                <span class="card-title fw-bold" style="height: 3rem; font-size:20px">E-mail:</span><span style="font-size:20px"> @message.SenderEmail</span>
              </div>
              <div>
                <span class="card-title fw-bold" style="height: 3rem; font-size:20px">Poruka zaprimljena:</span><span style="font-size:20px"> @message.SenderDate</span>
              </div>
              <hr />
              <div>
                <span class="card-title fw-bold" style="height: 3rem; font-size:20px">Upit:</span>
                <p style="font-size:20px"> @message.SenderMessage</p>
              </div>


              <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Odgovori na poruku</button>
            </div>
          </div>
        </div>


      }


      @* Modal popup *@
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Odgovorite na korisničku poruku</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>Odgovor na poruku: </h5>
              @Html.TextArea("Response");
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
              <button type="button" class="btn btn-primary">Pošalji</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
