@model IEnumerable<BLL.Projection.BookProjection>

@{
    ViewBag.Title = "Početna";
}

<table class="table">
    <tr>

        <th>
            Naziv
        </th>
        <th>
            Stanje
        </th>
        <th>
            Izdavač
        </th>
        <th>
            Broj stranica
        </th>
        <th>
            Cijena kupovine
        </th>
        <th>
            Cijena posudbe
        </th>
        <th>
            Količina
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (@item.IsNew)
                {
                    <span>Novo</span>
                }
                else
                {
                    <span>Rabljeno</span>
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice) kn
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanPrice) kn
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
